* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

img {
  height: 100vh;
  width: 100%;
}

.pic {
  height: 40%;
  width: 40%;
  padding: 4%;
}

.intro-content, .intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding : 2%;
}

h1, h2, p {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
}

.intro-content {
  padding: 0 9%;
}

.intro-text {
  opacity: 0;
  transform: translateX(-40px);
  transition: 2s all ease;
}

.intro-appear {
  opacity: 1;
  transform: translateX(0);
}
